*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #27548A;
}

main{
    width: 300px;
    height: 400px;
    background-color: #183B4E;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.display{
    width: 260px;
    height: 80px;
    text-align: right;
    justify-content: center;
    align-items: center;
}

#mainDisplay{
    padding-top: 25px;
    padding-right: 10px;
    color: white;
    font-size: 45px;
}

.buttonClass{
    width: 260px;
    height: 300px;
    justify-content: center;
    align-items: center;
    gap: 5px;  
}

.box{
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #DDA853;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#equals{
    width: 115px;
}

#add{
    background-color: #46af32;
}
#subtract{
    background-color: #46af32;
}
#multiply{
    background-color: #46af32;
}
#divide{
    background-color: #46af32;
}
#allClr{
    background-color: #e14941;
}
#del{
    background-color: #e14941;
}
#equals{
    background-color: #41e1a4;
}